<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Городские решения</title>
    <link rel="stylesheet" href="../static/style.css">
  <style>
    body {
      height: 100vh;
      display: flex; /* Используем Flexbox */
      justify-content: center; /* Горизонтальное выравнивание по центру */
      align-items: center; /* Вертикальное выравнивание по центру */
    }
  </style>
</head>
<body>

  <div class="main-login">
    <form class="login-form">
      <legend>Авторизация</legend>
      <input type="text" id="email" name="email" placeholder="Телефон или email">
      <input type="password" id="password" name="password" placeholder="Пароль">
      <input type="submit" id="login-btn" value="Войти">
      <a href="/login">У меня нет аккаунта</a>
    </form>
  </div>
</body>
</html>