<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Городские решения</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
      body {
      height: 100vh;
      display: flex; /* Используем Flexbox */
      justify-content: center; /* Горизонтальное выравнивание по центру */
      align-items: center; /* Вертикальное выравнивание по центру */
    }</style>
</head>
<body>
<img src="../media/404.png" alt="cat 404"> <h1> 404 Page not found</h1>
</body>
</html>