<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<input type="submit" id="btn_theme" name="theme" value="dark">
    <h2>
    <a href='{% url "main_url" %}'>Главная</a>
    {% for animal in animals %}
        <a href='pet/{{animal.slug}}/'>{{animal.title}}</a>
    {% endfor %}


    </h2>


{% block main_content %}
<!--Содержимое страницы-->

{% endblock main_content %}



<h1>БАЗОВЫЙ ШАБЛОН КОНЕЦ</h1>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
